{% extends 'base.html.twig' %}

{% block title %}Series{% endblock %}

{% block body %}
    <style>
        a{
            background-color : #c99393;
            color: white;
            padding : 5px;
            border-radius : 5px;
            display : flex;
            margin : 5px;
        }
        a:hover {
            background-color : black;
        }
    </style>
    <h1>Series</h1>
    <img src="{{ path('app_poster', {'id': series.id}) }}"/>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ series.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ series.title }}</td>
            </tr>
            <tr>
                <th>Plot</th>
                <td>{{ series.plot }}</td>
            </tr>
            <tr>
                <th>Imdb</th>
                <td>{{ series.imdb }}</td>
            </tr>
            <tr>
                <th>Poster</th>
                <td>{{ series.poster }}</td>
            </tr>
            <tr>
                <th>Director</th>
                <td>{{ series.director }}</td>
            </tr>
            <tr>
                <th>YoutubeTrailer</th>
                <td><a href='{{ series.youtubeTrailer }}'>lien</a></td>
            </tr>
            <tr>
                <th>Awards</th>
                <td>{{ series.awards }}</td>
            </tr>
            <tr>
                <th>YearStart</th>
                <td>{{ series.yearStart }}</td>
            </tr>
            <tr>
                <th>YearEnd</th>
                <td>{{ series.yearEnd }}</td>
            </tr>
        </tbody>
    </table>

    <p>Season</p>
    {% for season in series.seasons %}
        <li>{{season.number}}</li>
    {% endfor %}
    <br>
    <a href="{{ path('app_series_index') }}">back to list</a>


{% endblock %}
